<!DOCTYPE html>
<html>
<head>
  <!-- SITE TITTLE -->
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/head' %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="main-wrapper">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/login_modal' %>
    <%= render 'layouts/signup_modal' %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
